@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jakarta";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: "jakarta";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "jakarta";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "jakarta";
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "jakarta";
  src: url("./assets/fonts/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}

body {
  @apply h-full bg-[#f7f7f7] dark:bg-[#1c1c1c] font-jakarta;
}
*::-webkit-scrollbar {
  @apply w-[6px];
}
*::-webkit-scrollbar-thumb {
  @apply h-[10px] rounded-md bg-[#898989];
}
.inverted {
  mix-blend-mode: difference;
}
.transparent {
  background-color: transparent !important;
}
.button {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.button::before {
  content: "";
  background-color: white;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  @apply right-0 group-even:left-0;
  transition: width 1s ease, background-color 1s ease, color 1s ease;
  z-index: -1;
}

.button:hover {
  background-color: transparent;
}

.button:hover::before {
  width: 100%;
  background-color: white;
  color: white;
}
.mouseli {
  @apply scale-150 bg-yellow-800 transition-all duration-1000;
}
